h1{
    font-family: 'Nanum Pen Script';
    font-weight: normal;
    font-size: 75px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

h2 {
    font-family: 'Nanum Pen Script';
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}
#logo{
    margin-right: 10px;
}

#icon{
    height: 25%;
    width: 25%;
}

body{
    background-image: url('../../../images/samples/wp3719617-1980s-wallpapers.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
p{
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    color: white;
}
.footer{
    position: fixed;
    bottom: 0px;
    margin: auto;
    width: 100%;
}
@media only screen and (max-width:1080px) {
    /* For mobile phones: */
    body{
        background-image: url('../../../images/samples/2c29f48802ba3ea7776fae639f2b3b48.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    .menu, .main, .right {
        width:100%;
    }
}